{{extend 'layout_site.html'}}
{{block head}}
    <link href="{{=URL('static','css/eventos.css')}}" rel="stylesheet">
{{end}}
{{block conteudo}}
<h3 class="text-center">{{=ano}}</h3>
<div id="timeline">
    <ul class="anos-posteriores">
        {{for ano in anos_posteriores:}}
        <li><i class="fa fa-calendar fa-calendar-custom"></i><a href="{{=URL('eventos', args=ano)}}">{{=ano}}</a></li>
        {{pass}}
    </ul>
    {{for evento in eventos:}}
    <div class="row timeline-movement">
        <div class="timeline-badge">
            <span class="timeline-balloon-date-day">{{=evento.dia.strftime('%d')}}</span>
            <span class="timeline-balloon-date-month">{{=evento.dia.strftime('%b').upper()}}</span>
        </div>


        <div class="timeline-item">
            <div class="row">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">{{=evento.nome}}</span></li>
                        <li><span class="causale">{{=XML(evento.descricao)}} </span> </li>
                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{=evento.horario_inicio}}</small></p> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{pass}}
    <ul class="anos-anteriores">
        {{for ano in anos_anteriores:}}
        <li><i class="fa fa-calendar fa-calendar-custom"></i><a href="{{=URL('eventos', args=ano)}}">{{=ano}}</a></li>
        {{pass}}
    </ul>
</div>
{{end}}
