{{extend 'layout_marolo.html'}}
{{block head}}
    <link href="{{=URL('static','css/eventos.css')}}" rel="stylesheet">
{{end}}
<h3 class="text-center">2014</h3>
<div id="timeline">
    <div class="row timeline-movement">
        <div class="timeline-badge">
            <span class="timeline-balloon-date-day">18</span>
            <span class="timeline-balloon-date-month">APR</span>
        </div>


        <div class="timeline-item">
            <div class="row">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row timeline-movement">
        <div class="timeline-badge">
            <span class="timeline-balloon-date-day">13</span>
            <span class="timeline-balloon-date-month">APR</span>
        </div>

        <div class="timeline-item">
            <div class="row">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ul class="anos-anteriores">
        <li><i class="fa fa-calendar fa-calendar-custom"></i><a href="#">2013</a></li>
        <li><i class="fa fa-calendar fa-calendar-custom"></i><a href="#">2012</a></li>
        <li><i class="fa fa-calendar fa-calendar-custom"></i><a href="#">2011</a></li>
    </ul>
</div>

