{{extend 'layout_site.html'}}
{{block head}}
    <link href="{{=URL('static','css/index.css')}}" rel="stylesheet">
{{end}}
{{block conteudo}}
{{if carousel:}}
<div class="slider">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                {{if carousel[0].imagem:}}
                <img src="{{=URL('download', args=aba.imagem)}}">
                {{else:}}
                <img src="https://placeholdit.imgix.net/~text?bg=53341E&w=1200&h=400">
                {{pass}}
                <div class="carousel-caption">
                    <h3>
                        {{=carousel[0].titulo}}</h3>
                    <p>
                        {{=carousel[0].descricao}}</p>
                </div>
            </div>
            <!-- End Item -->
            {{for aba in carousel[1:]:}}
            <div class="item">
                {{if aba.imagem:}}
                <img src="{{=URL('download', args=aba.imagem)}}">
                {{else:}}
                <img src="https://placeholdit.imgix.net/~text?bg=53341E&w=1200&h=400">
                {{pass}}
                <div class="carousel-caption">
                    <h3>
                        {{=aba.titulo}}</h3>
                    <p>{{=aba.descricao}}</p>
                </div>
            </div>
            {{pass}}
            <!-- End Item -->
        </div>
        <!-- End Carousel Inner -->
        <ul class="nav nav-pills nav-justified">
            <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="{{=carousel[0].url}}">{{=carousel[0].nome_aba}}<small>{{=carousel[0].descricao_aba}}</small></a></li>
            {{for index, aba in enumerate(carousel[1:], 1):}}
                <li data-target="#myCarousel" data-slide-to="{{=index}}"><a href="{{aba.url}}">{{=aba.nome_aba}}<small>{{=aba.descricao_aba}}</small></a></li>
            {{pass}}
        </ul>
    </div>
    <!-- End Carousel -->
</div>
{{pass}}

{{for noticia in noticias:}}
<div class="post-div">
    <h2 class='title'>{{=noticia.titulo}}</h2>
    <div class="news row">
        <div class="col-md-3">
            {{if noticia.thumbnail:}}
                <img src="{{=URL('download',args=[noticia.thumbnail])}}" alt="post img"
                    title="imagem da noticia {{=noticia.titulo}}"
                    class="noticia-imagem pull-left img-responsive img-thumbnail">
            {{else:}}
                <p class="text-center">
                    <i class=" text-center fa fa-newspaper-o big-icon"></i>
                </p>
            {{pass}}
        </div>
        <div class="col-md-9">
            <article>
                <p>
                    {{=noticia.resumo}}
                </p>
            </article>
            <a class="btn btn-success pull-right" href="{{=URL('noticias', args=[noticia.permalink])}}">Leia mais</a>
            <small class='pull-left text-muted'>Publicado: {{=prettydate(noticia.modified_on)}}</small>
        </div>
    </div>
</div>
{{pass}}
<div id="paginacao">
    <ul class="pager">
        {{ if pagina != 1: }}
        <li class="previous">
            <a href="{{ =URL(args=pagina-1) }}">&larr; Anterior</a>
        </li>
        {{ pass }}

        {{ if pagina != paginas: }}
        <li class="next">
            <a href="{{ =URL(args=pagina+1) }}">Próxima &rarr;</a>
        </li>
        {{ pass }}
    </ul>
<div>

{{end}} <!-- Fim do bloco conteudo-->

{{block scripts}}
    <script type="text/javascript">
        $(document).ready( function() {
            $('#myCarousel').carousel({
                interval:   4000
            });

            var clickEvent = false;
            $('#myCarousel').on('click', '.nav a', function() {
                    clickEvent = true;
                    $('.nav li').removeClass('active');
                    $(this).parent().addClass('active');
            }).on('slid.bs.carousel', function(e) {
                if(!clickEvent) {
                    var count = $('#myCarousel .nav').children().length -1;
                    var current = $('#myCarousel .nav li.active');
                    current.removeClass('active').next().addClass('active');
                    var id = parseInt(current.data('slide-to'));
                    if(count == id) {
                        $('#myCarousel .nav li').first().addClass('active');
                    }
                }
                clickEvent = false;
            });
        });
    </script>
{{end}}
