{{extend 'layout_site.html'}}

{{block head}}
    <link href="{{=URL('static','css/membros.css')}}" rel="stylesheet">
{{end}}
{{block conteudo}}
<div id="membros">
        {{for linha in matriz:}}
            <div class="row">
                {{for membro in linha:}}
                    <div class="col-md-4 col-xs-4 text-center" id="membros-box">
                        <div class="card hovercard">
                            <div class="cardheader"></div>
                        {{if membro['foto']:}}
                            <div class="avatar">
                                <img alt="" class="img-responsive img-circle center-block"
                                src="{{=URL('download', args=membro['foto'])}}">
                            </div>
                        {{else:}}
                            <div class="avatar">
                                <img alt="" class="img-responsive img-circle center-block"
                                src="{{=URL('static','images/member.jpg')}}">
                            </div>
                        {{pass}}
                            <div class="info">
                                <div class="title">
                                    <p>{{=membro['nome']}}</p>
                                </div>
                                <div class="desc">
                                    <span class="text-muted">{{=membro['email']}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {{pass}}
            </div>
        {{pass}}
</div>
{{end}}
