{{extend 'layout_marolo.html'}}
{{block head}}
    <link href="{{=URL('static','css/produtos.css')}}" rel="stylesheet">
{{end}}
{{block conteudo}}
    {{for index, produto in enumerate(produtos):}}
        {{if index in (0, 3, 6):}}
        <div class="row">
        {{pass}}
            <div class="col-xs-4">
                <div>
                    <a href="#" class="thumbnail">
                        <div>
                            {{if produto.thumb:}}
                                <img src="{{=URL('download', args=produto.thumb)}}" class="img-responsive" />
                            {{else:}}
                                <i class="fa fa-barcode fa-5x"></i>
                            {{pass}}
                        </div>
                        <p>{{=produto.nome}}</p>
                        <p>{{=produto.descricao}}</p>
                        {{if produto.preco:}}
                            <p>R$ {{=produto.preco}}</p>
                        {{pass}}
                    </a>
                    <div class="clearfix visible-xs-block"></div>
                </div>
            </div>
        {{if index in (2, 5, 8):}}
            </div>
        {{pass}}
    {{pass}}
    <div id="paginacao">
        <ul class="pager">
            {{ if pagina != 1: }}
            <li class="previous">
                <a href="{{ =URL(args=pagina-1) }}">&larr; Anterior</a>
            </li>
            {{ pass }}

            {{ if pagina != paginas: }}
            <li class="next">
                <a href="{{ =URL(args=pagina+1) }}">Próxima &rarr;</a>
            </li>
            {{ pass }}
        </ul>
    <div>
{{end}}
