{{extend 'base.html'}}
{{block menu}}
  <nav class="navbar" id="menu-topo" role="navigation">
      <div class='container'>
          <div class='navbar-header'>
              <a class='navbar-brand' title="Ir para o site" href='{{=URL ("default", "index")}}'  target="_blank">
                  <i class='fa fa-home'></i> Ir para o site
              </a>
              <button class='navbar-toggle' data-target='#mobile-button' data-toggle='collapse' type='button'>
                  <span class='sr-only'>
                      Toggle navigation
                  </span>
                  <span class='icon-bar'>
                  </span>
                  <span class='icon-bar'>
                  </span>
                  <span class='icon-bar'>
                  </span>
              </button>
          </div>

          <div class='collapse navbar-collapse' id='mobile-button'>

              <ul class='nav navbar-nav'>
                  {{if auth.has_membership('admin'):}}<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuários <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{=URL('admin', 'listar_usuarios')}}">Listar</a></li>
                        <li><a href="{{=URL('admin', 'register')}}">Cadastrar</a></li>
                    </ul>
                  </li>{{pass}}
                  {{if auth.has_membership('admin'):}}<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sobre <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{=URL('admin', 'associacao')}}">Associação</a></li>
                        <li><a href="{{=URL('admin', 'projeto')}}">Projeto</a></li>
                    </ul>
                  </li>{{pass}}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inserir <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{{=URL('admin', 'inserir',args=['noticias'])}}">Notícia</a></li>
                      {{if auth.has_membership('admin'):}}<li><a href="{{=URL('admin', 'inserir',args=['membros'])}}">Membro</a></li>{{pass}}
                      <li><a href="{{=URL('admin', 'inserir',args=['eventos'])}}">Evento</a></li>
                      {{if auth.has_membership('admin'):}}<li><a href="{{=URL('admin', 'inserir',args=['apoiadores'])}}">Apoiador</a></li>{{pass}}
                      <li><a href="{{=URL('admin', 'inserir',args=['produtos'])}}">Produto</a></li>
                      <li><a href="{{=URL('admin', 'inserir',args=['banners'])}}">Banner</a></li>

                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listar <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{{=URL('admin', 'listar',args=['noticias'])}}">Notícia</a></li>
                      {{if auth.has_membership('admin'):}}<li><a href="{{=URL('admin', 'listar',args=['membros'])}}">Membro</a></li>{{pass}}
                      <li><a href="{{=URL('admin', 'listar',args=['eventos'])}}">Evento</a></li>
                      {{if auth.has_membership('admin'):}}<li><a href="{{=URL('admin', 'listar',args=['apoiadores'])}}">Apoiador</a></li>{{pass}}
                      <li><a href="{{=URL('admin', 'listar',args=['produtos'])}}">Produto</a></li>
                      <li><a href="{{=URL('admin', 'listar', args='banners')}}">Banner</a></li>
                    </ul>
                  </li>
                  {{if auth.is_logged_in():}}
                  <li><a class="btn nav-" href="{{=URL(c='admin', f='user', args=['logout'])}}">Sair</a></li>
                  {{pass}}
              </ul>

          </div>
      </div>
  </nav>
{{end}}

{{block scripts}}
<script type="text/javascript">
     $(document).ready(function () {
        $(":file").filestyle({icon: false, buttonText: "Escolha uma foto",buttonBefore: true, placeholder: "Não há foto selecionada"});
    });
</script>

<script src="{{=URL('static','js/bootstrap-filestyle.min.js')}}"></script>
{{end}}
