html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAEADF;
}

textarea {
    resize: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #402817;
}

.admin-content {
    background-color: white;
    padding: 10px;
}

#body-content {
    padding-right: 0;
    margin-bottom: 20px;
}

#menu-topo {
    border-radius: 0;
    background-color: #402817;
    padding: 20px;
    font-size: 18px;
}

#menu-topo a {
    text-decoration: none;
    background-color: none;
}

#menu-topo a:link {
    color: white;
}

#menu-topo a:visited {
    color: white;
}

#menu-topo a:hover {
    color: #5AAC41;
    background-color: #53341E;
}

#menu-button {
    border: 3px solid #5AAC41;
}

#mobile-button {
    text-align: center;
}

#patrocinadores h4 {
    margin-top: 0;
    font-weight: 700;
}

#apoiadores h4 {
    font-weight: 700;
    text-align: center;
}

.icon-bar {
    background-color: white !important;
}

.patrocinador {
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 0 7.5px;
    background-color: white;
}

.patrocinador a {
    text-decoration: none;
}

.patrocinador img {
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
}

#parceiros_apoiadores {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: white;
}

footer {
    border-top: 1px solid #DDD;
    padding-top: 5px;
    color: white;
    background-color: #402817;
}

.footer-link a {
    color: #5AAC41;
}

.footer-link a:hover {
    text-decoration: none;
}

.dropdown-menu {
    background-color: #402817;
}

@media (min-width: 990px) {
    #patrocinadores {
        float:right;
    }

    #patrocinadores h4 {
         margin-top: 10px;
    }
}

@media (min-width: 990px) {
    .news article {
        margin-left: 10px;
    }

    .news small {
        margin-left: 10px;
    }
}



div.flash{
    font-weight: bold;
    color: white;
    background-color: #402817;
    border-radius: 0;
    display: none;
    position: absolute;
    top: 100px;
    right: 1.5%;
    min-width: 280px;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

div.flash:hover{
    opacity:  0.75;
}

div.flash #closeflash{
    color: white;
    float: right;
    margin-left: 15px;
}

