#menu-topo #menu-contato {
    color: #5AAC41;
}

.contato {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: white;
}

.email,
.assunto,
.mensagem {
    width: 50%;
}

.btn-contato {
    padding-left: 25px;
    padding-right: 25px;
}
