#menu-topo #menu-inicio{
    color: #5AAC41;
}

.post-div {
    background: #fff;
    margin: 0 0 20px;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .2), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .2), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.title {
    margin: 0;
    font-size: 30px;
    padding: 10px 10px!important;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    border-radius: 3px;
}

.news {
    padding: 10px 20px;
    color: #666;
    font-family: Roboto, sans-serif;
    line-height: 2em;
    margin-bottom: 10px;
}

.big-icon{
   font-size:8em;
}