#menu-topo #menu-membros {
    color: #5AAC41;
}

#membros {
    margin-bottom: 20px;
    padding-top: 5px;
    border-radius: 3px;
    background-color: white;
}

#membros img {
    height: 200px;
}

#membros p {
    word-break: break-all;
}

@media (max-width: 768px) {
    #membros img {
        height: 150px;
    }

    #membros p {
        font-size: 85%;
    }
}

@media (max-width: 480px) {
    #membros-box {
        width: 100%;
    }

    #membros p {
        font-size: 100%;
    }
}
